
@{
    ViewBag.Title = "Delete";
}
@model Lecture5.Models.Product
<h2>Are you sure, you want to delete?</h2>
<form action="" method="post">
    <input type="hidden" name="Id" value="@Model.Id">
    <input type="submit" class="btn btn-block" value="Delete" />
</form>

