
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@model University.Models.Admin
<h2>LOGIN</h2>
<h2>for login, use admin admin as username and password respectively</h2>
<form action="/Home/Index" method="post">
    <input class="form-control" type="text" name="Username" value="" />
    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    <input class="form-control" type="password" name="Password" value="" />
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <input class="form-control" type="submit" name="loginButton" value="Login" />
</form>
<span>@TempData["ErrorMessage"]</span>
