
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@model Lecture5.Models.Admin

<form action="/Home/Index" method="post">
    <h3>Username :</h3>
    <input class="form-control" type="text" name="Username" value="" />
    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    <h3>Password :</h3>
    <input class="form-control" type="password" name="Password" value="" />
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <input class="btn btn-success" type="submit" name="loginButton" value="Login" />
</form>
<span>@TempData["ErrorMessage"]</span>
